:root {
  --btn-bg-normal: rgb(46, 27, 103);
  --btn-bg-hover: rgb(180, 86, 222);
  --btn-border-active: #999;
  --high-score-bg: rgb(211, 205, 228);
  --view-high-score-link: rgb(178, 75, 222);
}

/* remove default margins from every elememt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles for all content in the body */
body {
  color: var(--big-stone);
  font-family: Helvetia, Arial, sans-serif;
}

/* button styling */

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--btn-bg-normal);
  color: white;
  font-size: large;
  border-radius: 12px;
  position: relative;
  height: 40px;
}

.btn:hover {
  background: var(--btn-bg-hover);
  cursor: hand;
}
.btn:active {
  border-bottom: 3px solid var(--btn-border-active);
  top: 3px;
}

/* HEADER section START */
.quiz-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 20px;
}
.quiz-header-view-high-scores {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  margin-left: 15px;
}

.quiz-header-view-high-scores h4 {
  font-weight: normal;
  font-size: medium;
  color: var(--view-high-score-link);
}

.quiz-header-timer {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  margin-right: 15px;
}

.quiz-header-timer h4 {
  font-weight: normal;
  font-size: medium;
}
.quiz-header-time-remaining {
  padding-left: 10px;
}

/* QUIZ READY section START */
.quiz-ready {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-ready-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.quiz-ready-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 75%;

  margin-bottom: 20px;
}

.quiz-ready-detail p {
  width: 100%;
  word-wrap: normal;
  text-align: center;
}

/* QUIZ IN PROGRESS Section Start */

.quiz-in-progress {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;

  margin-top: 20px;
}

.quiz-question {
  display: flex;
  width: 75%;
  align-items: center;
  margin-bottom: 20px;
}

.quiz-question h2 {
  width: 100%;
  text-align: left;
}

.question-answers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 75%;
  align-items: flex-start;
  margin-bottom: 20px;
}

.question-answer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  align-items: flex-start;

  list-style-type: none;
}

.question-answer-list li {
  width: 100%;
  margin-bottom: 10px;
}

.question-answer-list li button {
  width: 100%;
}

.question-result {
  display: flex;
  width: 75%;

  border-top-color: lightgray;
  border-top-style: solid;
  border-top-width: 2px;
}

.question-result h3 {
  color: lightgray;
  font-style: italic;
  width: 100%;
  text-align: left;

  margin-top: 10px;
}

/* QUIZ DONE section start */

.quiz-done {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  align-items: center;
}

.quiz-done-title {
  display: flex;
  width: 75%;
  align-items: flex-start;

  margin-bottom: 10px;
}

.quiz-done-final-score {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 75%;

  margin-bottom: 10px;
}

.quiz-done-high-score-submission {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 75%;
}

.high-score-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.high-score-form p {
  padding-right: 10px;
}
.high-score-form input {
  padding-right: 10px;
  width: 40%;
}

.high-score-form button {
  margin-left: 10px;
}

/* HIGH SCORE DETAIL section START */
.high-score-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  align-items: center;
}

.high-score-detail-title {
  width: 75%;
  align-items: flex-start;
  margin-bottom: 20px;
}

.high-scores-detail-title-h1 {
  width: 100%;
}

.high-scores {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 75%;
  align-items: center;
}

.high-scores ul {
  width: 100%;
  list-style-type: none;
}

.high-scores ul li {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;

  margin-bottom: 20px;
  background-color: var(--high-score-bg);
}

.high-score-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
}

.high-score-actions button {
  margin-right: 15px;
}
